body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.clock-container {
    position: relative;
}

.clock {
    text-align: center;
    font-size: 20px;
    color: yellow;
    position: relative;
    z-index: 2; 
}

.clock span {
    padding: 25px;
}

.overlay-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}